<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      td,
      th {
        border: 1px solid rgb(19, 14, 14);
      }

      table {
        border-collapse: collapse;
        max-width: 100%;
      }

      th {
        height: 50px;
      }

      th,
      td {
        padding: 5px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h2>
      Результат проверки прибора <% if (data.length > 0) { %> <%
      data.forEach(divice => {%>
      <h1><%= divice.name %></h1>
      <% });%> <% }%>
    </h2>

    <table>
      <tbody>
        <tr>
          <th>Название прибора</th>
          <th>Тип прибора</th>
          <th>Период проверки</th>
          <th>Дата проверки</th>
          <th>Запланированая проверка</th>
        </tr>
      </tbody>
      <% if (data.length > 0) { %> <% data.forEach(divice => {%>
      <tbody>
        <td><%= divice.name %></td>
        <td><%= divice.type %></td>
        <td><%= divice.period %></td>
        <td>
          <% divice.check.forEach(function(check){ %>
          <p><%= check.lastCheck %></p>
          <% }); %>
        </td>
        <td>
          <% divice.check.forEach(function(check){ %>
          <p><%= check.nextCheck %></p>
          <% }); %>
        </td>
      </tbody>
      <% });%> <% }%>
    </table>
    <h3>Проверку проводил Влад</h3>
  </body>
</html>
